<%- include("partials/header"); -%>
    <!-- <h1>About</h1> -->
    <div class="about-section">
  <h1>The BLOGGER'S</h1>
  <p>Our Vision</p>
  <p>To create a platform that enables people to share their ideas in the form of blogs.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/images/p1.jpg" alt="Kushal" style="width:100%">
      <div class="container-fluid">
        <h2>Kushal Bansal</h2>
        <p class="title">3rd year CSE</p>
        <p>I'm an avid coder. I love designing websites.</p>
        <p><a href="mailto:kushalbansal0006@gmail.com?subject=feedback"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/p2.jpg" alt="Gurpreet" style="width:100%">
      <div class="container-fluid">
        <h2>Gurpreet Singh Sarna</h2>
        <p class="title">3rd year CSE</p>
        <p>My skills include Web Development and problem solving.</p>
        <p><a href="mailto:gurpreet1280.cse18@chitkara.edu.in.com?subject=feedback"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/p3.jpg" alt="Kanwar" style="width:100%">
      <div class="container-fluid">
        <h2>Kanwarpreet Singh</h2>
        <p class="title">3rd year CSE</p>
        <p>I love programming. I started programming at the age of 17.</p>
        <p><a href="mailto:kanwarpreet1236.cse18@chitkara.edu.in?subject=feedback"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
