<%- include("partials/header"); -%>
    <h1>Trending Blogs</h1>
    
    <ol>
      <li><a href="https://www.billboard.com/">Billboard</a></li>
      <p>Best known for the Hot 100 and Billboard 200, which list the most popular songs and albums each week in the industry. Offers industry news, events, podcasts, and music streaming.</p>
      <li><a href="https://www.elle.com/">Elle</a></li>
      <p>Featuring beauty tips, fashion news, and celebrity trends.</p>
      <li><a href="https://www.businessinsider.com/">Business Insider</a></li>
      <p>High-end business journalism keeping readers up-to-date on economic news as well as interviews with top entrepreneurs. There’s also educated predictions, trend analyses, and tips on how to improve businesses.</p>
      <li><a href="https://www.theverge.com/">The Verge</a></li>
      <p>The Verge is an ambitious multimedia effort founded nine years ago to examine how technology will change life in the future for a massive mainstream audience.</p>
      <li><a href="https://www.tmz.com/">TMZ</a></li>
      <p>Podcasts, interviews, videos, and photo galleries covering the latest entertainment news in Australia and around the world. Articles primarily cover celebrity lifestyle, focusing on health, beauty, fashion, as well as travel.</p>
      <li><a href="https://www.entrepreneur.com/">Entrepreneur</a></li>
      <p>Find business news, webinars and events, book recommendations, and interviews with successful entrepreneurs. The site is updated daily and even has a magazine for longer-form pieces.</p>
      <li><a href="https://www.nme.com/">NME</a></li>
      <p>Standout voice in pop culture and music delivering top news across artists, albums, film, TV, and video. Online gig guide, shop, and radio access covering the latest.</p>
      <li><a href="https://hbr.org/">Harvard Business Review</a></li>
      <p>Get practical advice on issues befalling business owners, such as how to overcome present challenges and keep a future-oriented viewpoint. Articles are written by experts in the field of business.</p>
      <li><a href="https://seekingalpha.com/">Seeking Alpha</a></li>
      <p>Seeking Alpha is an investing community which includes millions of passionate investors who connect daily to discover and share new investing ideas, discuss the latest news, debate the merits of stocks, and make informed investment decisions.</p>
      <li><a href="https://www.fastcompany.com/">Fast Company</a></li>
      <p>With an editorial focus on innovation in technology, world changing ideas, leadership, creativity, and design, FastCompany gives readers both economic news and advice on how to better grow their business.</p>
    </ol>

<%- include("partials/footer"); -%>
